@tailwind base;
@tailwind components;
@tailwind utilities;

.line-background {
  background: repeating-linear-gradient(45deg, #fff, #fff 13px, #f2f2f2 13px, #f2f2f2 14px);
  background-attachment: fixed;
  background-size: 40px 40px;
}

.dot-background {
  background: linear-gradient(90deg, #fff 21px, transparent 1%) 50%, linear-gradient(#fff 21px, transparent 1%) 50%,
    #000;
  background-attachment: fixed;
  background-size: 22px 22px;
}
